<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CUSTOMER-LOGIN</title>
</head>
<body>
      <form th:action="@{customerlogin}" method="post" th:object="${customerlogin}">
          <input type="email" name="email" placeholder="email" field="*{email}">
        <br>
          <input type="password" name="password" placeholder="password" field="*{password}">
        <hr>
          <button type="submit" name="submit">LOGIN</button>
      </form>
</body>
</html>